{% extends "inc/base.html" %}

{% load static %}

{% block content %}
    <div class="border-bottom border-3 border-secondary" style="padding-bottom: 20px">
        <div class="row">
            <div class="col-2">
                <div class="avatar_question mx-auto">
                    <a href="#">
                        <img src="../static/img/Avatar1.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="col-10">
                <a class="question-title" href="#">Question 1</a>
                <div class="question-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem consequuntur cum
                    dolores ducimus hic nesciunt odio optio placeat praesentium.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem consequuntur cum
                    dolores ducimus hic nesciunt odio optio placeat praesentium.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem consequuntur cum
                    dolores ducimus hic nesciunt odio optio placeat praesentium.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem consequuntur cum
                    dolores ducimus hic nesciunt odio optio placeat praesentium.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="text-center position-relative top-50 start-50 translate-middle">
                    <input type="checkbox" class="btn-check" id="btn-check-outlined1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-outlined1">5</label>
                </div>
            </div>
            <div class="col-10">
                <div class="question_tag">
                    <ul class="nav">
                        <li class="nav-item">
                            <h5 style="margin-top:10px;">Tags:</h5>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Tag1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tag2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tag3</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom border-3 border-secondary">

    </div>
    <div class="container" style="padding-top: 20px">
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="6"
                  placeholder="Enter your answer here..."></textarea>
        <button class="btn btn-outline-success" style="margin-top: 10px; margin-bottom: 10px">Ask!</button>
    </div>
{% endblock %}
